name: NuGet package publish
on:
  push:
    branches: [ master ]
  workflow_dispatch:
jobs:
  build-test-publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@v1.0.5
      with:
        nuget-version: latest
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --framework net10.0 --no-build --verbosity normal
    - name: Pack
      # CHANGE PACKAGE VERSION - The retarded way
      # Change the /p:VERSION=X.X.X part to change the actual package version.
      run: dotnet pack --configuration Release /p:VERSION=4.3.0.${{ github.run_number }} --version-suffix ${{ github.sha }}
    - name: Upload to NuGet
      run: dotnet nuget push /home/runner/work/X39.Roslyn.Property/X39.Roslyn.Property/sources/X39.Roslyn.Property/bin/Release/X39.Roslyn.Property.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --no-symbols
